<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Django на METANIT.COM</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <p>Имя: {{ user.name|add:" such man"}} Возраст: {{user.age}}</p>
    <p>Адресс: ул. {{address.0|cut:"я"}}, д. {{address.1}}, кв. {{address.2}}</p>
    <p>Языки: {{langs.0|capfirst}}, {{langs.1}}</p>
    <p>TIME: {{ date|date:"DATETIME_FORMAT" }}</p>
    <p>Body: {% autoescape off %}
        {{ body }}
        {% endautoescape %}</p>

    {% comment %}
    <p>Вывод содержимого в шаблон Django</p>
    {% endcomment %}
    {% if role == "Admin" %}
    <p>You are admin</p>
    {% endif %}
    {% with name="Tom" age=29 %}
    <div>
        <p>Name: {{ name }}</p>
        <p>Age: {{ age }}</p>
    </div>
{% endwith %}
    <p>{% now "Y" %}</p>
    <p>{% now "F j Y" %}</p>
    <p>{% now "N, j, Y" %}</p>
    <p>{% now "N j, Y, P" %}</p>
</body>
</html>